<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" smlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <h1>Presentacion</h1>
    </header>
    <div class="datos">
        <h2>Nombre: Sergio Eliel Balero</h2>
        <h2>Edad: 21 años</h2>
        <h2>Dni: 43698945</h2>
        <a class="boton" th:href="@{/formulario}">Formulario</a>
    </div>
    <footer>

    </footer>
</body>
</html>