*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1{
    font-size: 40px;
}
h2{
    color: cornsilk;
    font-size: 30px;
}
body{
    background-color: dimgrey;
    
}
header{
    background-color: midnightblue;
    text-align: center;
    padding: 5px;
    color:cornsilk;
    border-color: cornsilk;
    border-radius: 5px;
    border: 5px solid cornsilk;
}

.datos{
    text-align: center;
    color: cornsilk;
}

.boton{
    background-color: midnightblue;
    text-decoration: none;
    padding: 15px;
    color: cornsilk;
    border-color: px midnightblue;
    border-radius: 5px;
}

.boton:hover{
    background-color: rgb(54, 54, 179);
}

table, th, td{
    border: 2px solid cornsilk;
    border-collapse: collapse;
    color: cornsilk;
}

th, td{
    padding: 10px;
}

th{
    text-align: left;
}

.tabla{
    
    padding: 15px;
}