<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" smlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulario</title>
</head>
<body>
    <header>
        <h1>Delivery 2.0</h1>
    </header>
    <h2>Menu</h2>
    <div class="tabla">
        <table >
            <thead>
                <th>Producto</th>
                <th>Caracteristicas</th>
                <th>Precio</th>
            </thead>
            <tbody>
                <tr th:each="prod:${productos}">
                    <td th:text="${prod.combo}"></td>
                    <td th:text="${prod.detalle}"></td>
                    <td th:text="${prod.precio}"></td>
                </tr>
            </tbody>
        </table>
        <table >
            <thead>
                <th>Forma de Pago</th>
                <th>Descuento o Recargo</th>
            </thead>
            <tbody>
                <tr th:each="pag:${pagos}">
                    <td th:text="${pag.forma}"></td>
                    <td th:text="${pag.detalle}"></td>
                </tr>
            </tbody>
        </table>
        <h2>Realice su pedido</h2>
        <form th:action="@{/guardar}"  th:object="${pedido}" method="post">
            <label >OPCION</label>
            
            <select th:field="*{combo}">
                <option th:each="opcion: ${producto}" th:value="${opcion.detalle}" th:text="${opcion.combo}"></option>
            </select><br>
            <label>CANTIDAD</label>
            <input type="numbre" th:field="*{cantidad}"><br>
    
            <input type="submit" value="Guardar">
        </form>
</body>
</html>